blueprint:
  name: Awtrix Settings
  domain: script
  source_url: https://github.com/phillc/ha-blueprints/blob/main/scripts/awtrix_settings.yaml
  author: phillc

fields:
  awtrix_id:
    name: Device
    selector:
      device:
        filter:
          - model: AWTRIX 3
    required: true
  TMODE:
    selector:
      select:
        multiple: false
        mode: list
        options:
          - unset
          - "0"
          - "1"
          - "2"
          - "3"
          - "4"
          - "5"
          - "6"
    required: true
    description: "Changes the time app style."
    default: unset
  TFORMAT:
    selector:
      select:
        multiple: false
        mode: list
        options:
          - unset
          - "%H:%M:%S"
          - "%l:%M:%S"
          - "%H:%M"
          - "%H %M"
          - "%l:%M"
          - "%l %M"
          - "%l:%M %p"
          - "%l %M %p"
    required: true
    default: unset
  TIM:
    selector:
      select:
        multiple: false
        mode: list
        options:
          - unset
          - "true"
          - "false"
    required: true
    default: unset
  DAT:
    selector:
      select:
        multiple: false
        mode: list
        options:
          - unset
          - "true"
          - "false"
    required: true
    default: unset
  HUM:
    selector:
      select:
        multiple: false
        mode: list
        options:
          - unset
          - "true"
          - "false"
    required: true
    default: unset
  TEMP:
    selector:
      select:
        multiple: false
        mode: list
        options:
          - unset
          - "true"
          - "false"
    required: true
    default: unset
  BAT:
    selector:
      select:
        multiple: false
        mode: list
        options:
          - unset
          - "true"
          - "false"
    required: true
    description: "Enable or disable the native battery app (requires reboot)."
    default: unset
  WD:
    selector:
      select:
        multiple: false
        mode: list
        options:
          - unset
          - "true"
          - "false"
    required: true
    description: "Enable or disable the weekday display."
    default: unset

variables:
  awtrix_entities: "{{ device_entities(awtrix_id) }}"
  awtrix_topic: "{{ awtrix_entities | select('search', 'device_topic') | first }}"
  awtrix_topic_id: "{{ states(awtrix_topic) }}"
  raw_strings:
    TFORMAT: "{{ TFORMAT }}"
    TMODE: "{{ TMODE }}"
  raw_trinary:
    TIM: "{{ TIM }}"
    DAT: "{{ DAT }}"
    HUM: "{{ HUM }}"
    TEMP: "{{ TEMP }}"
    BAT: "{{ BAT }}"
    WD: "{{ WD }}"

sequence:
  - action: mqtt.publish
    data:
      topic: "{{ awtrix_topic_id }}/settings"
      payload: |-
        {%- set ns = namespace(out={}) %}
        {%- for k, v in raw_strings.items() if v != 'unset' %}
          {% set ns.out = combine(ns.out, { k: v }) %}
        {%- endfor %}
        {%- for k, v in raw_trinary.items() if v != 'unset' %}
          {%- set ns.out = combine(ns.out, { k: (v == 'true') }) %}
        {%- endfor %}
        {{ ns.out | tojson }}
